[Unit]
Description=Humidity and Temperature reader
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u collector.py
WorkingDirectory=/home/pi/pi_humidity
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
